@model EmployeeAppUserViewModel

@{
    ViewData["Title"] = "Create Profile";
}


<head>
    <style>
        .banner {
            background-color: #000000;
            color: #ffffff; /* White text */
            padding: 20px;
            text-align: center;
            border: 1px solid #000000;
            margin: 20px 0;
        }

            .banner h2 {
                margin: 0;
                font-size: 24px;
           
            }

        .form-group {
            margin-bottom: 20px;
        }

        .input-row {
            display: flex;
            justify-content: space-between;
            gap: 20px;
        }

        .input-group {
            flex: 1;
            min-width: 0;
        }

            .input-group label {
                width: 100%;
                text-align: left;
                font-weight: bold;
            }

            .input-group input,
            .input-group select,
            .input-group textarea {
                width: 100%;
                background-color: #f8f9fa;
                border: 1px solid #dee2e6;
                color: #495057;
                padding: 5px;
                pointer-events: none; /* Disable interactions */
                user-select: none; /* Prevent text selection */
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
            }

                .input-group input[readonly],
                .input-group select[readonly],
                .input-group textarea[readonly] {
                    background-color: #f8f9fa;
                }

        .text-danger {
            color: #dc3545;
        }
    </style>
</head>


    @if (ViewBag.UploadStatus != null)
    {
        if (ViewBag.UploadStatus == "Success")
        {
            <span class="row row-cols align-items-center alert alert-success">Profile Added Successfully</span>
        }
        else
        {
            <span class="row row-cols align-items-center alert alert-danger">Profile addition Failed</span>
        }
    }

    
    <form id="employeeForm">

        <div class="banner">
            <h2>Personal Details</h2>
        </div>

        <div class="form-group">
            <div class="input-row">
                <div class="input-group">
                    <label asp-for="Employee.EmployeeNumber" class="control-label">Employee Number</label>
                    <input tabindex="-1" asp-for="Employee.EmployeeNumber" class="form-control"
                           value="@((Model.Employee != null && Model.Employee.EmployeeNumber != 0) ? Model.Employee.EmployeeNumber.ToString() : string.Empty)"
                           maxlength="20" pattern="\d{20}" readonly />
                    <span asp-validation-for="Employee.EmployeeNumber" class="text-danger"></span>
                </div>

                <div class="input-group">
                    <label asp-for="Employee.EmployeeName" class="control-label">Employee Name</label>
                    <input tabindex="-1" asp-for="Employee.EmployeeName" class="form-control"
                           value="@Model.AppUser.UserName"
                           type="text" readonly />
                    <span asp-validation-for="Employee.EmployeeName" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="input-row">
                <div class="input-group">
                    <label asp-for="Employee.CNIC" class="control-label">CNIC</label>
                    <input tabindex="-1" asp-for="Employee.CNIC" class="form-control"
                           value="@(!string.IsNullOrEmpty(Model.Employee?.CNIC) ? Model.Employee.CNIC : string.Empty)"
                           minlength="13" maxlength="13" pattern="\d{13}" title="CNIC must be a 13-digit number." readonly />
                    <span asp-validation-for="Employee.CNIC" class="text-danger"></span>
                </div>

                <div class="input-group">
                    <label asp-for="Employee.MobileNumber" class="control-label">Mobile Number</label>
                    <input tabindex="-1" asp-for="Employee.MobileNumber" class="form-control" minlength="11" maxlength="11" value="@Model.AppUser.PhoneNumber" pattern="\d{11}" title="Please enter exactly 11 digits" readonly />
                    <span asp-validation-for="Employee.MobileNumber" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="input-row">
                <div class="input-group">
                    <label asp-for="Employee.UserAdLogin" class="control-label">User AD Login</label>
                    <input tabindex="-1" asp-for="Employee.UserAdLogin" class="form-control"
                           value="@(!string.IsNullOrEmpty(Model.Employee?.UserAdLogin) ? Model.Employee.UserAdLogin : string.Empty)"
                           type="text" readonly />
                    <span asp-validation-for="Employee.UserAdLogin" class="text-danger"></span>
                </div>

                <div class="input-group">
                    <label asp-for="Employee.Title" class="control-label">Title</label>
                    <input tabindex="-1" asp-for="Employee.Title" class="form-control"
                           value="@(!string.IsNullOrEmpty(Model.Employee?.Title) ? Model.Employee.Title : string.Empty)"
                           type="text" readonly />
                    <span asp-validation-for="Employee.Title" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="input-row">
                <div class="input-group">
                    <label asp-for="Employee.IsEnabled" class="control-label">Status</label>
                    <select tabindex="-1" asp-for="Employee.IsEnabled" class="form-control" readonly>
                        <option value="">Select...</option>
                        <option value="true">Active</option>
                        <option value="false">Inactive</option>
                    </select>
                    <span asp-validation-for="Employee.IsEnabled" class="text-danger"></span>
                </div>

                <div class="input-group">
                    <label asp-for="Employee.DOJ" class="control-label">Date of Joining</label>
                    <input tabindex="-1" asp-for="Employee.DOJ" class="form-control"
                           value="@(!string.IsNullOrEmpty(Model.Employee?.DOJ) ? Model.Employee.DOJ : string.Empty)"
                           type="date" readonly />
                    <span asp-validation-for="Employee.DOJ" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="input-row">
                <div class="input-group">
                    <label asp-for="Employee.DateOfJoiningBC" class="control-label">Date of Joining BC</label>
                    <input tabindex="-1" asp-for="Employee.DateOfJoiningBC" class="form-control"
                           value="@(!string.IsNullOrEmpty(Model.Employee?.DateOfJoiningBC) ? Model.Employee.DateOfJoiningBC : string.Empty)"
                           type="date" readonly />
                    <span asp-validation-for="Employee.DateOfJoiningBC" class="text-danger"></span>
                </div>

                <div class="input-group">
                    <label asp-for="Employee.DateOfLeaving" class="control-label">Date of Leaving</label>
                    <input tabindex="-1" asp-for="Employee.DateOfLeaving" class="form-control"
                           value="@(!string.IsNullOrEmpty(Model.Employee?.DateOfLeaving) ? Model.Employee.DateOfLeaving : string.Empty)"
                           type="date" readonly />
                    <span asp-validation-for="Employee.DateOfLeaving" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="input-row">
                <div class="input-group">
                    <label asp-for="Employee.EmailAddress" class="control-label">Email Address</label>
                    <input tabindex="-1" asp-for="Employee.EmailAddress" class="form-control" type="email" value="@Model.AppUser.Email" data-val="true" data-val-email="Please enter a valid email address." readonly />
                    <span asp-validation-for="Employee.EmailAddress" class="text-danger"></span>
                </div>

            @*     <div class="input-group">
                    <label asp-for="Employee.RegionID" class="control-label">Region ID</label>
                    <input tabindex="-1" asp-for="Employee.RegionID" class="form-control" type="email" value="@Model?.Employee?.RegionID" readonly />
               
                </div> *@
            <div class="input-group">
                <label asp-for="Employee.RegionID" class="control-label">Region</label>
                <input type="text" class="form-control" value="@ViewBag.Region" readonly />
                <span asp-validation-for="Employee.RegionID" class="text-danger"></span>
            </div>
            </div>
        </div>

        <div class="banner">
            <h2>Location And Reporting</h2>
        </div>

        <div class="form-group">
                <div class="input-group">
                    <label asp-for="Employee.ECID" class="control-label">Experience Centre</label>
                    <input type="text" class="form-control" value="@ViewBag.ExperienceCentre" readonly />
                    <span asp-validation-for="Employee.ECID" class="text-danger"></span>
                </div>

                <div class="input-group">
                    <label asp-for="Employee.ManagerID" class="control-label">Line Manager</label>
                    <input type="text" class="form-control" value="@ViewBag.ManagerName.EmployeeName" readonly />
                    <span asp-validation-for="Employee.ManagerID" class="text-danger"></span>
                </div>
           
        </div>

        <div class="banner">
            <h2>Account Identifiers</h2>
        </div>

        <div class="form-group">
            <div class="input-row">
                <div class="input-group">
                    <label asp-for="Employee.DeviceIMIE" class="control-label">Device IMIE</label>
                    <input tabindex="-1" asp-for="Employee.DeviceIMIE" class="form-control" type="number" readonly />
                    <span asp-validation-for="Employee.DeviceIMIE" class="text-danger"></span>
                </div>

                <div class="input-group">
                    <label asp-for="Employee.PosIds" class="control-label">Pos IDs</label>
                    <input tabindex="-1" asp-for="Employee.PosIds" class="form-control" type="number" readonly />
                    <span asp-validation-for="Employee.PosIds" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="input-row">
                <div class="input-group">
                    <label asp-for="Employee.PosName" class="control-label">Pos Name</label>
                    <input tabindex="-1" asp-for="Employee.PosName" class="form-control" type="text" readonly />
                    <span asp-validation-for="Employee.PosName" class="text-danger"></span>
                </div>

                <div class="input-group">
                    <label asp-for="Employee.SalesId" class="control-label">Sales Id</label>
                    <input tabindex="-1" asp-for="Employee.SalesId" class="form-control" type="number" readonly />
                    <span asp-validation-for="Employee.SalesId" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="input-row">
                <div class="input-group">
                    <label asp-for="Employee.WaridSalesId" class="control-label">Warid Sales Id</label>
                    <input tabindex="-1" asp-for="Employee.WaridSalesId" class="form-control" type="number" readonly />
                    <span asp-validation-for="Employee.WaridSalesId" class="text-danger"></span>
                </div>

                <div class="input-group">
                    <label asp-for="Employee.TabsId" class="control-label">Tabs Id</label>
                    <input tabindex="-1" asp-for="Employee.TabsId" class="form-control" type="number" readonly />
                    <span asp-validation-for="Employee.TabsId" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="input-row">
                <div class="input-group">
                    <label asp-for="Employee.MfsId" class="control-label">MFS Id</label>
                    <input tabindex="-1" asp-for="Employee.MfsId" class="form-control" type="number" readonly />
                    <span asp-validation-for="Employee.MfsId" class="text-danger"></span>
                </div>

                <div class="input-group">
                    <label asp-for="Employee.SiebelId" class="control-label">Siebel Id</label>
                    <input tabindex="-1" asp-for="Employee.SiebelId" class="form-control" type="number" readonly />
                    <span asp-validation-for="Employee.SiebelId" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="input-row">
                <div class="input-group">
                    <label asp-for="Employee.EficsId" class="control-label">EFICS Id</label>
                    <input tabindex="-1" asp-for="Employee.EficsId" class="form-control" type="number" readonly />
                    <span asp-validation-for="Employee.EficsId" class="text-danger"></span>
                </div>

                <div class="input-group">
                    <label asp-for="Employee.EficsId2" class="control-label">EFICS Id 2</label>
                    <input tabindex="-1" asp-for="Employee.EficsId2" class="form-control" type="number" readonly />
                    <span asp-validation-for="Employee.EficsId2" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="input-row">
                <div class="input-group">
                    <label asp-for="Employee.QmaticLogin" class="control-label">Qmatic Login</label>
                    <input tabindex="-1" asp-for="Employee.QmaticLogin" class="form-control" type="number" readonly />
                    <span asp-validation-for="Employee.QmaticLogin" class="text-danger"></span>
                </div>

                <div class="input-group">
                    <label asp-for="Employee.QmaticPowerLogin" class="control-label">Qmatic Power Login</label>
                    <input tabindex="-1" asp-for="Employee.QmaticPowerLogin" class="form-control" type="number" readonly />
                    <span asp-validation-for="Employee.QmaticPowerLogin" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="input-group">
            <input tabindex="-1" asp-for="Employee.AppUserId" class="form-control" type="hidden" value="@Model.AppUser.Id" readonly />
        </div>

    </form>



